.main-background {
    -fx-background-color: #ecdbc1;
}

.side-bar {
    -fx-background-color: #452f1f;
}


.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 5px;
}

.card {
    -fx-background-radius: 12px;
    -fx-background-color: #857062

    

}

.main {
    -fx-background-color: #ecdbc1;
}


